main.synctex.gz
*.log
*.blg
*.bbl
*.aux
*.pdf
*.log
*.log
TEVC-Revision/apply_edits_TEVCNewFullPaper.py
TEVC-Revision/files.zip
*.gz
TEVC-Revision/gen_ltj.py
TEVC-Revision/gen_cliff.py
TEVC-Revision/TEVCNewFullPaper_edited.tex
