main.synctex.gz
*.log
*.blg
*.bbl
*.aux
*.pdf
*.log
*.log
TEVC-Revision/apply_edits_TEVCNewFullPaper.py
TEVC-Revision/files.zip
*.gz
TEVC-Revision/gen_ltj.py
TEVC-Revision/gen_cliff.py
TEVC-Revision/TEVCNewFullPaper_edited.tex
TEVC-NewSubmission/IEEE-TEVC-TexBundle/IEEE-TEVC-TexBundle/TEVCOldFullPaperFlat.tex
TEVC-NewSubmission/IEEE-TEVC-TexBundle/IEEE-TEVC-TexBundle/TEVCOldFullPaper.tex
/TEVC-NewSubmission/IEEE-TEVC-TexBundle
TEVC-Revision/responseToReviewers.out
